<h2> You are logged in as <%= @teacher.name %> </h2>
<p>
  <strong>Name:</strong>
  <%= @parent.name %>
</p>

<p>
  <strong>Student:</strong>
  <%= @parent.student %>
</p>

<p>
  <strong>Email:</strong>
  <%= @parent.email %>
</p>

<%= link_to 'Edit', edit_parent_path(@parent) %> |
<%= link_to 'Back', parents_path %>
